### Análise de custos

In [ ]:
#imports
import pandas as pd

In [47]:
df = pd.read_csv('Estimativa de Custos.csv',encoding='latin-1', nrows= 1, usecols = ['Custo inicial','Custo mensal','Total 12 months cost','Moeda'])

## Tabela do custo total

In [48]:
df

   Custo inicial  Custo mensal  Total 12 months cost Moeda
0              0         59.33                711.96   USD

In [53]:
df_2 = df = pd.read_csv('Estimativa de Custos.csv',encoding='latin-1', nrows= 4, skiprows=6)

## Tabela com custos específicos

In [54]:
df_2

,Hierarquia de grupos,Região,Descrição,Serviço,Pagamento adiantado,Mensal,First 12 months total,Moeda,Status,Resumo da configuração
0,Estimativa de Custos,Leste dos EUA (N. da Virgínia),Estimativa das Instancias EC2,Amazon EC2,0,4.234,50.81,USD,NaN,"Locação (Instâncias compartilhadas), Sistema o..."
1,Estimativa de Custos,Leste dos EUA (N. da Virgínia),Estimativa do RDS,Amazon RDS for MySQL,0,54.285,651.42,USD,NaN,Armazenamento para cada instância do RDS (SSD ...
2,Estimativa de Custos,Leste dos EUA (N. da Virgínia),vpc,Data Transfer,0,0.020,0.24,USD,NaN,DT Entrada: Todas as outras regiões (1 GB por ...
3,Estimativa de Custos,Leste dos EUA (N. da Virgínia),vpc,IPAM,0,0.790,9.48,USD,NaN,Número de endereços IP ativos (4)

# Maior custo e resumo da configuração

In [60]:
max_custo = df_2.loc[df_2['Mensal'] == max(df_2['Mensal'])]

# Resumo

In [75]:
resumo = max_custo['Resumo da configuração']
resumo.values[0]

'Armazenamento para cada instância do RDS (SSD de uso geral (gp2)), Quantidade de armazenamento (30 GB), Quantidade (1), Tipo de instância (db.t2.micro), Utilização (somente sob demanda) (100 %Utilized/Month), Opção de implantação (Multi-AZ), Modelo de preço (OnDemand), Armazenamento de backup adicional (7 GB)'